//= require jquery.ui.autocomplete
// Site default
//$visual-grid: true;

// Scss framework
@import "bourbon";
@import "bitters/bitters";
// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column: 62px;
$gutter: 2px;
$grid-columns: 12;
$max-width: 980px;

$base-font-size: 12px;
$content-margin: 15px;

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$large-screen: new-breakpoint(min-width 10$content-margin 12);
$medium-screen: new-breakpoint(max-width 768px 8);
$small-screen: new-breakpoint(max-width 480px 4);
@import "neat";

html, body {
  margin: 0;
  padding: 0;
}
body {
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl {
  margin: $content-margin;
  font-size: 1.0em;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0.5em $content-margin;
  margin: 0;
  &.center {
    text-align: center;
  }
  &.belt {
    background: #808080;
    color: #fff;
    &.blue {
      background: #8ea5bf;
    }
  }
  &.accordion {
    @include linear-gradient(#dbdbdb, #ececec);
    padding: 1.0em $content-margin;
    &:before {
      content: " ";
      float: right;
      width: 7px;
      height: 1.25em;
      background: image-url("mobile/application/accordion_header_bg.png") center center no-repeat;
    }
  }
}

.accordion-content {
  display: none;
}

p {
  margin: $content-margin;
}

.center {
  text-align: center;
}


a {
  img {
    border-style: none;
  }
}

form {
  margin: 0;
  label {
    display: block;
  }
  select,
  textarea,
  #{$all-text-inputs} {
    width: 100%;
  }
  &.inline {
    select,
    textarea,
    #{$all-text-inputs} {
      width: auto;
    }
  }
  .complex {
    select,
    textarea,
    #{$all-text-inputs} {
      width: 48%;
      &:first-child {
        margin-right: 4%;
      }
    }
  }
  .field {
    margin: 0 $content-margin 1.0em;
  }
  .actions {
    margin: 0 $content-margin 1.0em;
    input[type="submit"] {
      @extend %button;
      display: inline;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }
  }
}

* {
  outline: none;
}

.hr {
  clear: both;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: $content-margin;
}

.announce {
  background: image-url('application/table_bg_right.png');
  padding: 10px;
  margin: $content-margin;
  p {
    margin: 5px;
  }
}

@import "item";

.hidden {
  display: none;
}

header {
  @include clearfix;
  @include pad(5px);
  img {
    display: block;
    width: 100%;
  }
  .pc-view {
    float: right;
    width: 25%;
  }
  .logo {
    padding-top: 10px;
    float: left;
    width: 40%;
  }
  .souryou {
    padding-top: 15px;
    float: right;
    width: 55%;
  }
}

.globalnavi {
  @include clearfix;
  @include fill-parent;
  margin: 0 0 $gutter;
  padding: 0;
  li {
    @include span-columns(1 of 4);
    img {
      width: 100%;
      display: block;
    }
  }
}

@import "flexslider.css";

.products {
  @include clearfix;
  border-bottom: 10px solid #8ea5bf;
  margin:0;
  li {
    @include span-columns(1 of 3);
    a {
      color: #333;
      display: block;
      text-align: center;
      background: #ececec;
      height: 60px;
      line-height: 60px;
      &.active {
        color: #fff;
        background: #8ea5bf;
      }
    }
  }
}

.product-item {
  @include clearfix;
  a {
    @include clearfix;
    @include pad($content-margin);
    color: #000;
    display: block;
    .image {
      float: left;
      width: 30%;
      text-align: center;
      img {
        display: inline;
        width: auto;
        height: 130px;
      }
    }
    .information {
      float: left;
      width: 70%;
      .name {
        color: $base-link-color;
      }
      .price {
        font-size: 1.3em;
        color: #9a0000;
      }
    }
    .detail {
      clear: both;
    }
  }
}

.lineup {
  @include fill-parent;
  @include clearfix;
  a {
    @include span-columns(1 of 2);
    @include omega(2);
    margin-bottom: 5px;
    img {
      display: block;
      width: 100%;
    }
  }
}

.magazines {
  padding: 5px;
  li {
    @include span-columns(1 of 4);
  }
}

.news {
  margin: 0 5px;
}

.product-show {
  .name {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    padding: $content-margin 0;
    .type, .label {
      margin-bottom: 0;
    }
    .type {
      float: right;
      .kind {
        border: 2px solid #000;
        padding: 2px 0.5em;
        margin-left: 5px;
      }
    }
  }
  .main-image {
    text-align: center;
    img {
      width: 40%;
    }
  }
  .image-select {
    margin: 0 auto $content-margin;
    text-align: center;
    a {
      display: inline-block;
      width: 80px;
      height: 80px;
      line-height: 80px - 8px;
      text-align: center;
      margin: 5px;
      border: 1px solid $light-gray;
      padding: 3px;
      &.active {
        border: 4px solid $light-gray;
        padding: 0;
      }
      background: white;
      img {
        vertical-align: middle;
      }
    }
  }
  .product-information {
    margin: $content-margin;
    border: 1px solid #666;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    dl {
      width: 60%;
      margin: $content-margin auto;
      dt {
        float: left;
        width: 30%;
        margin:0;
        margin-bottom: $content-margin;
      }
      dd {
        float: left;
        width: 70%;
        margin:0;
        margin-bottom: $content-margin;
        .price {
          color: #9a0000;
        }
      }
    }
    input[type="image"] {
      display: block;
      border-radius: 0;
      width: 100%;
    }
  }
  .information {
    .detail {
      margin: 5px;
    }
  }
}
.annotation {
  font-size: 0.5em;
  line-height: 1.0em;
}
.reviews {
}

.toindex {
  text-align: right;
  padding: 5px;
  a {
    padding-left: 15px;
    background: image-url("welcome/shoppingguide_li.png") left center no-repeat;
  }
}

.cart {
  margin: 0 0 $content-margin;
  font-size: 0.7em;
  .item {
    padding: 10px;
    border-bottom: 1px solid #aaaaaa;
    .image {
      text-align: center;
      width: 100px;
      height: 100px;
      float: left;
    }
    .amount {
      text-align: right;
      form {
        display: inline;
      }
      img {
        vertical-align: middle;
      }
    }
  }
  .postage,
  .commission,
  .total_price {
    padding: 5px;
    @include clearfix;
    .name {
      margin-left: 60%;
      float: left;
      width: 20%;
    }
    .total {
      float: left;
      width: 20%;
    }
  }
  .postage {
  }
  .total_price {
    background: #e9f0f7;
    border-bottom: 1px solid #aaaaaa;
  }
  &.cashier {
    .item {
      @include clearfix;
      .product {
        float: left;
        width: 60%;
      }
      .amount {
        text-align: left;
        float: left;
        width: 20%;
      }
      .total {
        float: left;
        width: 20%;
      }
    }
  }
}

.tokuten {
  @include clearfix;
  @include pad(15px);
  .image {
    float: left;
    width: 40%;
    img {
      margin: -10px;
      width: 100%;
    }
  }
  .text {
    float: left;
    width: 60%;
    .header {
      color: #b5d5ca;
      font-weight: bold;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

dl.faq {
  padding: $content-margin;
  dt {
    background: image-url("faq/q_li.png") left top no-repeat;
    padding-left: 30px;
    margin-bottom: 15px;
    font-weight: normal;
  }
  dd {
    background: image-url("faq/a_li.png") left top no-repeat;
    padding-left: 30px;
    margin-bottom: 40px;
    a {
      background: image-url("welcome/news_li.png") left 5px center no-repeat;
      padding-left: 15px;
    }
  }
}

.sample_select {
  @include clearfix;
  margin-bottom: $content-margin;
  .items {
    border-top: 1px solid #aaa;
    .item {
      border-bottom: 1px solid #aaa;
      @include pad(10px);
      float: left;
      width: 50%;
      .image,
      .checkbox {
        text-align: center;
      }
      .name {
        height: 3.0em;
        line-height: 1.0em;
        font-weight: normal;
      }
      &:nth-child(2n+1) {
        border-right: 1px solid #aaa;
      }
    }
  }
}


.scrolltotop {
  text-align: center;
  margin: 0;
  @include pad(10px);
  &.right {
    text-align: right;
  }
}

footer {
  background: #808080;
  color: #fff;
  font-size: 0.7em;
  line-height: 2.5em;
  .links {
    @include pad($content-margin);
    @include clearfix;
    .column {
      @include span-columns(1 of 2);
    }
    ul {
      margin: 0;
      margin-bottom: $content-margin;
      li {
        background: image-url("mobile/application/arrow_white.png") left center no-repeat;
        padding-left: 10px;
        a {
          color: #fff;
        }
      }
    }
  }
  .copyright {
    text-align: center;
  }
}
