// Site default
//$visual-grid: true;

// Scss framework
@import "bourbon";
@import "bitters/bitters";
// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column: 62px;
$gutter: 2px;
$grid-columns: 12;
$max-width: 980px;

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$large-screen: new-breakpoint(min-width 1020px 12);
$medium-screen: new-breakpoint(max-width 768px 8);
$small-screen: new-breakpoint(max-width 480px 4);
@import "neat";

html, body {
  margin: 0;
  padding: 0;
}
body {
  -webkit-text-size-adjust: 100%;
}

a {
  img {
    border-style: none;
  }
}

* {
  outline: none;
}

@import "item";

.hidden {
  display: none;
}

header {
  @include clearfix;
  @include pad(5px);
  img {
    display: block;
    width: 100%;
  }
  .pc-view {
    float: right;
    width: 25%;
  }
  .logo {
    padding-top: 10px;
    float: left;
    width: 40%;
  }
  .souryou {
    padding-top: 15px;
    float: right;
    width: 55%;
  }
}

.globalnavi {
  @include clearfix;
  margin-bottom: $gutter;
  li {
    @include span-columns(1 of 4);
    img {
      width: 100%;
      display: block;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  &.center {
    text-align: center;
  }
  &.belt {
    background: #808080;
    color: #fff;
    @include pad(0.5em);
    margin-bottom: 0.5em;
  }
}

@import "flexslider.css";

.lineup {
  @include clearfix;
  border-bottom: 10px solid #8ea5bf;
  li {
    @include span-columns(1 of 3);
    a {
      color: #333;
      display: block;
      text-align: center;
      background: #ececec;
      height: 60px;
      line-height: 60px;
      &.active {
        color: #fff;
        background: #8ea5bf;
      }
    }
  }
}

.lineup-items {
  h4 {
    @include pad(10px 20px);
    margin: 0;
    @include linear-gradient(#dbdbdb, #ececec);
  }

  ul {
    li {
      a {
        @include clearfix;
        display: block;
        font-size: 0.8em;
        border-bottom: 1px solid #c8c8c8;
        margin-bottom: 5px;
        @include pad(5px);
        .image {
          float: left;
          width: 30%;
          text-align: center;
          line-height: 1.5em * 7;
          img {
            display: inline;
          }
        }
      }
    }
  }
}

.totop {
  text-align: center;
  margin: 0;
  @include pad(10px);
}

footer {
  background: #808080;
  color: #fff;
  @include pad(0.5em);
  font-size: 0.7em;
  line-height: 2.0em;
  .links {
    @include pad(20px);
    @include clearfix;
    ul {
      @include span-columns(1 of 2);
      li {
        background: image-url("mobile/application/arrow_white.png") left center no-repeat;
        padding-left: 10px;
        a {
          color: #fff;
        }
      }
    }
  }
  .copyright {
    text-align: center;
  }
}
