<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_c/c_howto.gif" %></p>
      <p>髪全体をよく湿らせてから適量をしっかりとなじませ、頭皮を指の腹でマッサージするように泡立てながら洗います。その後、よくすすぎ洗い流します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_c/c_osusume.gif" %></p>
      <p>・髪や頭皮をやさしくケアしたい方<br>
        ・軽いダメージのある髪を補修したい方</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "naturaltech/point_line.png" %></h2>
<p><%= storage_image_tag "naturaltech_c/c_point.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_c/c_aroma.gif" %></p>
<p><%= storage_image_tag "naturaltech_c/c_aroma2.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_c/c_flow.gif" %></p>
<p class="flow-bar">
  デリケートケア
  <span>カラー・パーマ後</span>
  <span>しなやか</span>
</p>
<ul class="flow">
  <li><%= storage_image_tag "naturaltech/flow_c01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w03.png" %></li>
</ul>
