<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><img src="/f/d_howto.gif" alt="使用方法"></p>
      <p>髪全体をよく湿らせてから適量をしっかりとなじませ、頭皮を指の腹でマッサージするように泡立てながら洗います。その後、よくすすぎ洗い流します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><img src="/f/d_osusume.gif" alt="こんな方におすすめです"></p>
      <p>・髪のボリュームが気になる方<br>
        ・髪にハリとコシを与えたい方</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><img src="/f/point_line.png"></h2>
<p><img src="/f/d_point.jpg"></p>
<p class="mini"><img src="/f/d_aroma.gif" alt="アロマの香り"></p>
<p><img src="/f/d_aroma2.jpg"></p>
<p class="mini"><img src="/f/d_flow.gif" alt="おすすめフロー"></p>
<p><img src="/f/flow_bar03.png" alt=""></p>
<ul class="flow">
  <li><img src="/f/flow_e01.png"></li>
  <li class="icon"><img src="/f/flow_arrow.png"></li>
  <li><img src="/f/flow_w02.png"></li>
  <li class="icon"><img src="/f/flow_or.png"></li>
  <li><img src="/f/flow_n02.png"></li>
  <li class="icon"><img src="/f/flow_arrow.png"></li>
  <li><img src="/f/flow_e02.png"></li>
</ul>
