<div class="product-header">
  <div class="logo"><%= storage_image_tag "naturaltech/naturaltech_logo.png" %></div>
  <ul class="navigation">
    <li><%= storage_image_tag "naturaltech/navi01_o.png" %></li>
    <li><%= storage_image_tag "naturaltech/navi03.png" %></li>
    <li><%= storage_image_tag "naturaltech/navi04.png" %></li>
    <li><%= storage_image_tag "naturaltech/navi05.png" %></li>
    <li><%= storage_image_tag "naturaltech/navi06.png" %></li>
    <li><%= storage_image_tag "naturaltech/navi02.png" %></li>
  </ul>
</div>
<div class="product-banner">
  <%= storage_image_tag "naturaltech_e/e_h.jpg" %>
</div>
