　      <div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "moreinside/mi_howto.gif" %></p>
      <p>乾いた髪に適量を塗布し、お好みに合わせてスタイリングします。より自然な仕上がりをつくる場合は、タオルドライ後の湿った髪に塗布してスタイリングします。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "moreinside/mi_osusume.gif" %></p>
      <p>アイロンやカーラー後のカール部分に揉み込むようにつけ、空気を入れながらスタイリングするとボリューム感がアップ。</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<div class="h2o-01">
  <h3 class="mini"><%= storage_image_tag "moreinside/mi_use.gif" %></h3>
  <p>無造作ヘアスタイルに</p>
  <h3 class="mini"><%= storage_image_tag "moreinside/mi_recommendto.gif" %></h3>
  <p>全ての髪質</p>
</div>
<h2><%= storage_image_tag "moreinside/mi_osusume_style.png" %></h2>
<p><%= storage_image_tag "moreinside_05/osusume_style_05.png" %></p>
