//= require jquery.ui.autocomplete

@import "../scaffolds";

$max-width: auto;

// ----------------------------------------
// Basic Frames
// ----------------------------------------
.container {
  @include outer-container;
  @include pad(0 default);
}

.header {}
.contents {}
.footer {}


// ----------------------------------------
// Header
// ----------------------------------------
.header {
  position: relative;
  z-index: 1000;
  box-shadow: 0px 0px 5px #999;
  overflow: hidden;
  margin: 0;
  background: image-url('header/header_line.jpg') top center repeat-x white;
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  .consumer {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin: 0;
      padding: 0;
      a {
        margin-left: 10px;
        display: block;
        overflow: hidden;
        height: 64px;
        img {
          display: block;
        }
      }
    }
  }
  .globalnavi {
    p {
      margin: 0;
    }
    @include clearfix;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: white;
    margin-bottom: 20px;
    ul {
      float: right;
      li {
        float: left;
        background: image-url('header/nav_li.png') center left no-repeat;
        padding-left: 10px;
        margin-left: $gutter;
        a {
          color: white;
        }
      }
    }
  }
}



// ----------------------------------------
// Contents
// ----------------------------------------
.contents {
  .container {
    @include pad;
  }
  @import "../editable";
  @import "../product";
  background: image-url('contents_bg.jpg');
  &.pages {
    @import "pages";
  }
  .menubar {
    @include span-columns(3);
    @mixin menu-item {
      display: block;
      @include linear-gradient(#fff, #eee);
      padding: 10px 15px;
      margin: 0;
      color: black;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
    }

    h3 {
      @include menu-item;
      @include linear-gradient(#666, #333);
      color: white;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }
    ul {
      border: 1px solid #000;
      margin-bottom: 15px;
      li {
        a {
          @include menu-item;
          &:hover {
            @include linear-gradient(#fff, #eee);
          }
        }
      }
    }
  }

  .main {
    @include span-columns(9);
    h1 {
      display: block;
      @include linear-gradient(#666, #333);
      padding: 10px 15px;
      color: white;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }
    form {
      border: 1px solid #999;
      padding: 15px;
      margin-bottom: 15px;
      label {
      }
      input {
      }
    }
    form.inline {
      display: inline;

      input[type="submit"] {
        @include appearance(none);
        background: none;
        color: $base-link-color;
        margin: 0;
        padding: 0;
      }
    }
  }
  &.products {
    @import 'products';
  }
}

// ----------------------------------------
// Footer
// ----------------------------------------
.footer {
  border-top: 2px solid #000;
  .links {
    padding: 15px;
    @include span-columns(4);
  }
}


