$table-border-color: #a0a0a0;

table {
  border-collapse: collapse;
  border-spacing: 10px 10px;
  margin: ($base-line-height / 2) 0;
  table-layout: fixed;
  width: 100%;
  font-size: $base-font-size * 0.8;
}

th {
  background: image-url('application/table_bg_left.png');
  border: 1px solid $table-border-color;
  font-weight: normal;
  text-align: left;
}

td {
  background: image-url('application/table_bg_right.png');
  border: 1px solid $table-border-color;
}
th, td {
  padding: ($base-line-height * 0.8);
  p {
    margin: 0;
    padding: 0;
  }
}

tr, td, th {
  vertical-align: top;
}

table {
  margin-bottom: 45px;
  th, td {
    $w: 0;
    @while $w < 100 {
      &.w#{$w} {
        width: percentage($w / 100);
      }
      $w: $w + 1;
    }
  }
  thead {
    th {
      font-weight: bold;
      text-align: center;
    }
  }
  th, td {
    border: none;
    * {
      vertical-align: middle;
    }
    &.product {
      width: 40%;
    }
    &.capacity,
    &.price,
    &.amount,
    &.total,
    &.shipment,
    &.remove {
      width: 10%;
    }
  }
  tbody {
    tr {
      th, td {
        border-bottom: 1px solid $base-border-color;
      }
    }
    tr.no-border {
      th, td {
        border-bottom: none;
      }
    }
    td.product {
      img {
        margin: 10px;
      }
    }
    td.price {
      text-align: right;
    }
    td.amount {
      text-align: right;
      form {
        text-align: center;
        select {
          margin: 0;
          display: inline;
        }
      }
    }
    td.total {
      text-align: right;
    }
    td.shipment {
      text-align: center;
    }
    td.remove {
      text-align: center;
    }
    td.results {
      font-weight: bold;
      text-align: right;
    }
  }
}
