<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "moreinside/mi_howto.gif" %></p>
      <p></p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "moreinside/mi_osusume.gif" %></p>
      <p></p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<div class="h2o-01">
<h3 class="mini"><%= storage_image_tag "moreinside/mi_use.gif" %></h3>
<p>柔らかウェーブスタイルに</p>
<h3 class="mini"><%= storage_image_tag "moreinside/mi_recommendto.gif" %></h3>
<p>様々なタイプのクセやウェーブのかかった髪</p>
</div>
<h2><%= storage_image_tag "moreinside/mi_osusume_style.png" %></h2>
<p><%= storage_image_tag "moreinside_02/osusume_style_02.png" %></p>
