<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "moreinside/mi_howto.gif" %></p>
      <p>タオルドライ後の湿った髪に適量を塗布し、お好みに合わせてスタイリングします。乾いた髪にも使用でき、セット力を強化します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "moreinside/mi_osusume.gif" %></p>
      <p>タオルドライ後のカールに揉み込むようにつけ、その後ドライヤーで空気をいれるように乾かすと、ボリューム感がアップ。</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<div class="h2o-01">
  <h3 class="mini"><%= storage_image_tag "moreinside/mi_recommendto.gif" %></h3>
  <p>様々なタイプのクセやウェーブのかかった髪</p>
</div>
<h2><%= storage_image_tag "moreinside/mi_osusume_style.png" %></h2>
<p><%= storage_image_tag "moreinside_02/osusume_style_02.png" %></p>
