<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "authentic/at_howto.jpg" %></p>
      <p>フェイス・ボディクリームとして使用する場合は、適量をマッサージするようにしっかりとなじませます。＜ダメージの激しい髪に＞乾いた髪全体に、適量を軽くもみ込むようになじませます。（最短でも5～10分）しっとりとするまで置き、よく洗い流してからシャンプーをします。</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "authentic/tokutyou_line.png" %></h2>
<p class="mini"><%= storage_image_tag "authentic/at_smell.jpg" %></p>
<p class="tokutyou">ヘア・フェイス・ボディへの美と喜びを追及した香りは、ナチュラルエッセンスが絶妙なバランスでブレンドされ、ボトルをあけた瞬間、遙かとおいイタリアの自然風景が広がります。</p>
<p><%= storage_image_tag "authentic/tokutyou_img.jpg" %></p>
