<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "authentic/at_howto.jpg" %></p>
      <p></p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "authentic/at_ingredient.jpg" %></p>
      <p></p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "authentic/tokutyou_line.png" %></h2>
<p><%= storage_image_tag "authentic/tokutyou_img.jpg" %></p>
