<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "authentic/at_howto.jpg" %></p>
      <p>髪全体をよく湿らせてから、適量をしっかりとなじませ、頭皮を指の腹でマッサージするように泡立てながら洗います。その後、よくすすぎ洗い流します。ボディソープとして使用する場合は、適量をスポンジなどで泡立て、洗い流します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "authentic/at_ingredient.jpg" %></p>
      <p></p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "authentic/tokutyou_line.png" %></h2>
<p><%= storage_image_tag "authentic/at_smell.jpg" %></p>
<p>ヘア・フェイス・ボディへの美と喜びを追及した香りは、ナチュラルエッセンスが絶妙なバランスでブレンドされ、ボトルをあけた瞬間、遙かとおいイタリアの自然風景が広がります。</p>
<p><%= storage_image_tag "authentic/tokutyou_img.jpg" %></p>
