@mixin flash($color, $font-color: null) {
  background: $color;
  @if $font-color {
    color: $font-color;
  } @else {
    color: darken($color, 50);
  }
  font-weight: bold;
  font-size: $base-font-size;
  padding: $base-line-height / 2;

  p {
    margin: 0;
  }

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
