<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_e/e_howto.gif" %></p>
      <p>髪全体をよく湿らせてから適量をしっかりとなじませ、頭皮を指の腹でマッサージするように泡立てながら洗います。その後、よくすすぎ洗い流します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_e/e_osusume.gif" %></p>
      <p>・髪のエイジングケア<sup>*1</up>を始めたい方<br>
        ・髪のハリとボリュームが気になる方</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "naturaltech/point_line.png" %></h2>
<p><%= storage_image_tag "naturaltech_e/e_point.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_e/e_aroma.gif" %></p>
<p><%= storage_image_tag "naturaltech_e/e_aroma2.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_e/e_flow.gif" %></p>
<p class="flow-bar">
  エイジングケア<sup>＊1</sup>
  <span>ハリ</span>
  <span>コシ</span>
</p>
<ul class="flow">
  <li><%= storage_image_tag "naturaltech/flow_e01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_e02.png" %></li>
</ul>
