<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "authentic/at_howto.jpg" %></p>
      <p>シャンプーの後、適量を髪全体に軽くもみ込むようになじませます。5～10分置き、頭皮を指の腹でやさしくマッサージしてから洗い流します。フェイス・ボディパックとして使用する場合は、適量を塗布し5～10分置き、洗い流します。ポイントメイクアップリムーバーとして使用する場合は、コットンに適量をとり、目元・口元によくなじませた後、やさしく拭き取ります。</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "authentic/tokutyou_line.png" %></h2>
<p class="mini"><%= storage_image_tag "authentic/at_smell.jpg" %></p>
<p class="tokutyou">ヘア・フェイス・ボディへの美と喜びを追及した香りは、ナチュラルエッセンスが絶妙なバランスでブレンドされ、ボトルをあけた瞬間、遙かとおいイタリアの自然風景が広がります。</p>
<p><%= storage_image_tag "authentic/tokutyou_img.jpg" %></p>
