<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_e/e_howto.gif" %></p>
      <p>タオルドライ後、頭皮に数ヵ所少量を塗布し、指の腹でマッサージをしながらしっかりとなじませます。<br>
      ※洗い流す必要はありません。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_e/e_osusume.gif" %></p>
      <p>・髪のエイジングケア*1を始めたい方<br>
        ・髪のハリとボリュームが気になる方</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "naturaltech/point_line.png" %></h2>
<p><%= storage_image_tag "naturaltech_e/e_point.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_e/e_aroma.gif" %></p>
<p><%= storage_image_tag "naturaltech_e/e_aroma2.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_e/e_flow.gif" %></p>
<p><%= storage_image_tag "naturaltech/flow_bar03.png" %></p>
<ul class="flow">
  <li><%= storage_image_tag "naturaltech/flow_e01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_e02.png" %></li>
</ul>
<p><%= storage_image_tag "naturaltech/flow_bar05.png" %></p>
<ul class="flow">
  <li><%= storage_image_tag "naturaltech/flow_r01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_e02.png" %></li>
</ul>
