<div class="product-header">
  <div class="logo"><%= storage_image_tag "moreinside/moreinside_logo.png" %></div>
  <ul class="navigation">
    <li><%= storage_image_tag "moreinside/mi_nav_01.png" %></li>
    <li><%= storage_image_tag "moreinside/mi_nav_02.png" %></li>
    <li><%= storage_image_tag "moreinside/mi_nav_03.png" %></li>
    <li><%= storage_image_tag "moreinside/mi_nav_04.png" %></li>
    <li><%= storage_image_tag "moreinside/mi_nav_05on.png" %></li>
    <li><%= storage_image_tag "moreinside/mi_nav_06.png" %></li>
    <li><%= storage_image_tag "moreinside/mi_nav_07.png" %></li>
  </ul>
</div>
<div class="product-banner">
  <%= storage_image_tag "moreinside_05/mi05_h.jpg" %>
</div>
