<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p><img src="/f/e_howto.gif" alt="使用方法"></p>
      <p>髪全体をよく湿らせてから適量をしっかりとなじませ、頭皮を指の腹でマッサージするように泡立てながら洗います。その後、よくすすぎ洗い流します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p><img src="/f/e_osusume.gif" alt="こんな方におすすめです"></p>
      <p>・髪のボリュームが気になる方<br>
        ・髪にハリとコシを与えたい方</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
