<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_n/n_howto.gif" %></p>
      <p>【シャンプー】<br>
        髪全体をよく湿らせてから適量をしっかりとなじませ、頭皮を指の腹でマッサージするように泡立てながら洗います。その後、よくすすぎ洗い流します。<br>
        <br>
        【コンディショナー】<br>
      シャンプー後、毛先までしっかり揉みこみます。傷みが気になる部分は、両手のひらでプレスして浸透させます。5分程度置き、丁寧に洗い流します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_n/n_osusume.gif" %></p>
      <p>・髪の傷みが気になる方<br>
        ・パサついた髪に潤いを与えたい方</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "naturaltech/point_line.png" %></h2>
<p><%= storage_image_tag "naturaltech_n/n_point.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_n/n_aroma.gif" %></p>
<p><%= storage_image_tag "naturaltech_n/n_aroma2.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_n/n_flow.gif" %></p>

<p class="flow-bar">
  保湿ケア
  <span>うるおい</span>
  <span>ボリューム</span>
</p>
<ul class="flow col4">
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B7%E3%83%A3%E3%83%B3%E3%83%97%E3%83%BC-w-"><%= storage_image_tag "naturaltech/flow_w01.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-w-"><%= storage_image_tag "naturaltech/flow_w02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-n-"><%= storage_image_tag "naturaltech/flow_n02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%83%9E%E3%83%83%E3%82%B5%E3%83%BC%E3%82%B8-%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%B3%E3%83%88%E3%83%AC%E3%82%A4%E3%83%88-w-"><%= storage_image_tag "naturaltech/flow_w03.png" %></a></li>
</ul>

<p class="flow-bar">
  ダメージケア
  <span>まとまり</span>
  <span>ツヤ</span>
</p>
<ul class="flow col5">
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B7%E3%83%A3%E3%83%B3%E3%83%97%E3%83%BC-n-"><%= storage_image_tag "naturaltech/flow_n01.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%83%98%E3%82%A2%E3%83%91%E3%83%83%E3%82%AF-n-"><%= storage_image_tag "naturaltech/flow_n03.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-w-"><%= storage_image_tag "naturaltech/flow_w02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-n-"><%= storage_image_tag "naturaltech/flow_n02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%83%98%E3%82%A2%E3%83%9F%E3%82%B9%E3%83%88-n-"><%= storage_image_tag "naturaltech/flow_n04.png" %></a></li>
</ul>


<p class="flow-bar">
  エイジングケア<sup>＊3</sup>
  <span>ハリ</span>
  <span>コシ</span>
</p>
<ul class="flow col4">
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B7%E3%83%A3%E3%83%B3%E3%83%97%E3%83%BC-e-"><%= storage_image_tag "naturaltech/flow_e01.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-w-"><%= storage_image_tag "naturaltech/flow_w02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-n-"><%= storage_image_tag "naturaltech/flow_n02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%83%9E%E3%83%83%E3%82%B5%E3%83%BC%E3%82%B8-%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%B3%E3%83%88%E3%83%AC%E3%82%A4%E3%83%88-w-"><%= storage_image_tag "naturaltech/flow_e02.png" %></a></li>
</ul>

<p class="flow-bar">
  デリケートケア
  <span>カラー・パーマ後</span>
  <span>しなやか</span>
</p>
<ul class="flow col4">
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B7%E3%83%A3%E3%83%B3%E3%83%97%E3%83%BC-c-"><%= storage_image_tag "naturaltech/flow_c01.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-w-"><%= storage_image_tag "naturaltech/flow_w02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-n-"><%= storage_image_tag "naturaltech/flow_n02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%83%9E%E3%83%83%E3%82%B5%E3%83%BC%E3%82%B8-%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%B3%E3%83%88%E3%83%AC%E3%82%A4%E3%83%88-w-"><%= storage_image_tag "naturaltech/flow_w03.png" %></a></li>
</ul>

<p class="flow-bar">
  オイリーケア
  <span>べたつき</span>
  <span>匂い<sup>＊4</sup></span>
</p>
<ul class="flow col4">
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B7%E3%83%A3%E3%83%B3%E3%83%97%E3%83%BC-r-"><%= storage_image_tag "naturaltech/flow_r01.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-w-"><%= storage_image_tag "naturaltech/flow_w02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B3%E3%83%B3%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%BC-n-"><%= storage_image_tag "naturaltech/flow_n02.png" %></a></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><a href="/products/%E3%83%8A%E3%83%81%E3%83%A5%E3%83%A9%E3%83%AB%E3%83%86%E3%83%83%E3%82%AF-%E3%82%B9%E3%82%AB%E3%83%AB%E3%83%97%E3%83%AD%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3-e-"><%= storage_image_tag "naturaltech/flow_e02.png" %></a></li>
</ul>
