.howto-osusume {
  overflow: hidden;
  margin-bottom: 30px;
}
.mini img {
  width: auto;
}

.howto {
  box-sizing: border-box;
  font-size: 0.8em;
  width: 395px;
  background: url(/f/howto_bg_naka.png) left top repeat-y;
  float: left;
}
.howto .ue {
  height: 10px;
  background: url(/f/howto_bg_ue.png) left top repeat;
}
.howto .naka {
  height: 140px;
  padding: 15px 25px;
}
.howto .shita {
  height: 10px;
  background: url(/f/howto_bg_shita.png) left top repeat;
}

.osusume {
  box-sizing: border-box;
  font-size: 0.8em;
  width: 302px;
  float: right;
  background: url(/f/osusume_bg_naka.png) left top repeat-y;
}
.osusume .ue {
  height: 10px;
  background: url(/f/osusume_bg_ue.png) left top repeat;
}
.osusume .naka {
  height: 140px;
  padding: 15px 25px;
}
.osusume .shita {
  height: 10px;
  background: url(/f/osusume_bg_shita.png) left top repeat;
}

ul.flow {
  overflow: hidden;
  padding: 10px;
}
ul.flow li {
  float: left;
  width: 18%;
  height: 145px;
  line-height: 145px;
  vertical-align: middle;
  text-align: center;
}
ul.flow li.icon {
  width: 2%;
}
ul.flow li img {
  width: auto;
}
