.product-header {
  position: relative;
}
.product-header .logo {
  height: 70px;
  line-height: 70px;
  float: left;
  margin-bottom: 10px;
}
.product-header .logo img {
  vertical-align: middle;
}
.product-header .navigation {
  position: absolute;
  right: 0px;
  top: 0px;
}
.product-header .navigation li {
  display: inline;
  margin-left: 5px;
}
.product-banner {
}
.product-banner img {
  width: 100%;
}
