h1 お客様の声詳細

p = link_to '戻る', admin_reviews_path

p.product = @review.product.try :name
p.name = @review.name
p.title = @review.subject

= simple_format @review.body

p.accepted = @review.accepted ? '表示' : '非表示'

p = link_to '編集', edit_admin_review_path(@review)
