<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "n_howto.gif" %></p>
      <p>髪全体をよく湿らせてから適量をしっかりとなじませ、頭皮を指の腹でマッサージするように泡立てながら洗います。その後、よくすすぎ洗い流します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "n_osusume.gif" %></p>
      <p>・髪のボリュームが気になる方<br>
        ・髪にハリとコシを与えたい方</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "point_line.png" %></h2>
<p><%= storage_image_tag "n_point.jpg" %></p>
<p class="mini"><%= storage_image_tag "n_aroma.gif" %></p>
<p><%= storage_image_tag "n_aroma2.jpg" %></p>
<p class="mini"><%= storage_image_tag "n_flow.gif" %></p>
<p><%= storage_image_tag "flow_bar02.png" %></p>
<ul class="flow col5">
  <li><%= storage_image_tag "flow_n01.png" %></li>
  <li class="icon"><%= storage_image_tag "flow_arrow.png" %></li>
  <li><%= storage_image_tag "flow_n03.png" %></li>
  <li class="icon"><%= storage_image_tag "flow_arrow.png" %></li>
  <li><%= storage_image_tag "flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "flow_or.png" %></li>
  <li><%= storage_image_tag "flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "flow_arrow.png" %></li>
  <li><%= storage_image_tag "flow_n04.png" %></li>
</ul>

