.reviews {
  padding-top: 15px;
  font-size: $base-font-size * 0.8;
  .voice {
    min-height: 126px;
    margin-bottom: 15px;
    .data {
      padding-top: 10px;
      .scroll {
        height: 107px;
        p {
          line-height: $base-line-height * 0.8;
          margin-bottom: 5px;
          &.product {
          }
          &.subject {
            font-weight: bold;
          }
          &.name {
            text-align: right;
          }
        }
      }
    }
    &.left {
      background: image-url('application/usercoment01.png') left top no-repeat;
      .data {
        padding-left: 120px;
        padding-right: 10px;
      }
    }
    &.right {
      background: image-url('application/usercoment02.png') left top no-repeat;
      .data {
        padding-left: 10px;
        padding-right: 120px;
      }
    }
  }
}
