.reviews {
  margin-top: 15px;
  font-size: $base-font-size * 0.8;
  .voice {
    position: relative;
    height: 126px;
    margin-bottom: 15px;
    .data {
      position: absolute;
      top: 10px;
      width: 575px;
      .name {
      }
      p {
        line-height: $base-line-height * 0.8;
      }
    }
    &.left {
      background: image-url('application/usercoment01.png') left top no-repeat;
      .data {
        left: 120px;
      }
    }
    &.right {
      background: image-url('application/usercoment02.png') left top no-repeat;
      .data {
        right: 120px;
      }
    }
  }
}
