//= require jquery.ui.autocomplete

// Site default
@import "scaffolds";

// ----------------------------------------
// Basic Frames
// ----------------------------------------
.container {
  @include outer-container;
  padding: 0 15px;
}

.header {}
.contents {}
.footer {}


// ----------------------------------------
// Header
// ----------------------------------------
.header {
  position: relative;
  z-index: 1000;
  box-shadow: 0px 0px 5px #999;
  overflow: hidden;
  margin: 0;
  padding: 5px 0 0;
  background: image-url('header/header_line.jpg') top center repeat-x white;
  .logo {
    padding: 10px 0;
    font-weight: bold;
    font-size: 24px;
  }
  .consumer {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin: 0;
      padding: 0;
      a {
        margin-left: 10px;
        display: block;
        overflow: hidden;
        height: 64px;
        img {
          display: block;
        }
      }
    }
  }
  .globalnavi {
    @include clearfix;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: white;
    margin-bottom: 20px;
    ul {
      float: right;
      li {
        float: left;
        background: image-url('header/nav_li.png') center left no-repeat;
        padding-left: 10px;
        margin-left: $gutter;
        a {
          color: white;
        }
      }
    }
  }
}


// ----------------------------------------
// Contents
// ----------------------------------------
.contents {
  @import "editable";
  background: image-url('contents_bg.jpg');
  .main {
    @include span-columns(9 of 12);
  }
  .side {
    @include span-columns(3 of 12);
    .series,
    .category,
    .solution {
      margin-bottom: $base-line-height;
      a {
        color: $dark-gray;
      }
      h3 {
        font-size: $base-font-size * 0.8;
        padding: ($base-line-height * 0.2) 0;
      }
      h4 {
        font-size: $base-font-size * 0.8;
        padding: $base-line-height * 0.2;
        background: $light-gray;
      }
      ul {
        font-size: $base-font-size * 0.7;
        background: white;
        li {
          padding: $base-line-height * 0.05;
        }
      }
    }
  }

  .global-navigation {
    @include clearfix;
    margin-bottom: 30px;
    li {
      @include span-columns(1 of 4);
    }
  }

  &.welcome {
    @import "welcome";
  }
  &.products {
    @import "products";
  }
  &.carts {
    @import "carts";
  }
  &.cashier {
    @import "cashier";
  }
  &.devise_registrations {
    @import "devise/registrations";
  }
  .totop {
    margin-top: 300px;
    text-align: right;
  }
}

// ----------------------------------------
// Footer
// ----------------------------------------
.footer {
  @include box-sizing(border-box);
  @include clearfix;
  padding: 5px 0;
  margin: 0;
  background: #666261;
  color: white;
  a {
    color: white;
  }
  .container {
    padding: 15px 0;
    .links {
      @include span-columns(3);
      h4 {
        font-size: $base-font-size * 0.8;
        margin-bottom: $base-line-height * 0.5;
      }
      ul {
        font-size: $base-font-size * 0.8;
      }
    }
    .about,
    .copyright {
      clear: both;
      margin: 0;
      padding: 0;
      line-height: $base-line-height;
      font-size: $base-font-size * 0.8;
      text-align: right;
    }
  }
}
