// Site default
@import "scaffolds";

// ----------------------------------------
// Basic Frames
// ----------------------------------------
.container {
  @include outer-container;
  padding: 0 15px;
}

.header {}
.contents {}
.footer {}


// ----------------------------------------
// Header
// ----------------------------------------
.header {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 5px 0;
  background: image-url('header/border.jpg') bottom center repeat-x white;
  .logo {
    padding: 10px 0;
    font-weight: bold;
    font-size: 24px;
  }
  .consumer {
    float: right;
    list-style: none;
    li {
      display: inline;
    }
  }
  .globalnavi {
    float: right;
    font-size: 12px;
    ul {
      li {
        float: left;
        margin-left: $gutter;
        a {
          color: black;
        }
      }
    }
  }
}


// ----------------------------------------
// Contents
// ----------------------------------------
.contents {
  .container {
    &.welcome {
      @import "welcome";
    }
    &.carts {
      @import "carts";
    }

    .totop {
      margin-top: 300px;
      text-align: right;
    }
  }
}

// ----------------------------------------
// Footer
// ----------------------------------------
.footer {
  padding: 5px 0;
  background: image-url('footer/background.jpg');
  .links {
    padding: 15px;
    @include span-columns(4);
    @include omega(3n);
    ul {
      @extend %default-ul;
    }
  }
  .copyright {
    font-size: 10px;
    color: #333;
    text-align: right;
  }
}

