//= require jquery.ui.autocomplete

// Site default
@import "scaffolds";

// ----------------------------------------
// Basic Frames
// ----------------------------------------
.container {
  @include outer-container;
  padding: 0 15px;
  width: 980px;
  &.maincontent {
    padding-top: 40px;
  }
}

.header {}
.contents {}
.footer {}

.hr {
  margin: 20px 0;
}

// ----------------------------------------
// Header
// ----------------------------------------
.header {
  position: relative;
  z-index: 1000;
  box-shadow: 0px 0px 5px #999;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: image-url('header/header_line.jpg') top center repeat-x white;
  .logo {
    padding: 0;
    font-weight: bold;
    font-size: 24px;
    .logo-image {
      margin-right: 40px;
    }
  }
  .consumer {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin: 0;
      padding: 0;
      a {
        margin-left: 10px;
        display: block;
        overflow: hidden;
        height: 64px;
        img {
          display: block;
        }
      }
    }
  }
  .globalnavi {
    @include clearfix;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: white;
    margin-bottom: 20px;
    p {
      margin: 0;
      padding: 0;
      line-height: 25px;
    }
    ul {
      line-height: 25px;
      float: right;
      li {
        float: left;
        background: image-url('header/nav_li.png') center left no-repeat;
        padding-left: 7px;
        margin-left: $gutter;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}


// ----------------------------------------
// Contents
// ----------------------------------------
.contents {
  .breadcrumbs {
    padding: 15px 0;
    font-size: $base-font-size * 0.8;
  }
  @import "editable";
  @import "reviews";
  @import "product";
  background: image-url('contents_bg.jpg');
  .main {
    @include span-columns(9 of 12);
  }
  .side {
    @include span-columns(3 of 12);
    .series,
    .category,
    .solution {
      margin-bottom: $base-line-height;
      a {
        color: $dark-gray;
      }
      h3 {
        margin-bottom: $base-line-height * 0.5;
        font-size: $base-font-size * 0.8;
        padding: ($base-line-height * 0.2) 0;
      }
      h4 {
        .arrow {
          padding: 4px;
        }
        font-size: $base-font-size * 0.8;
        padding: $base-line-height * 0.2;
        background: #eeeeee;
        cursor: pointer;
        a {
          display: block;
        }
      }
      ul {
        font-size: $base-font-size * 0.7;
        background: white;
        li {
          padding: $base-line-height * 0.05;
        }
      }
    }
    .side-shoppingguide {
      position: relative;
      font-size: $base-font-size * 0.8;
      ul {
        position: absolute;
        top: 50px;
        padding: 20px 30px;

        li {
          line-height: 27px;
          list-style-position: outside;
          list-style-image: image-url('welcome/shoppingguide_li.png');
          &.noarrow {
            list-style: none;
          }
          a {
            color: $base-font-color;
          }
        }
      }
    }
  }

  .main {
    &.introduction,
    &.privacypolicy,
    &.utilization,
    &.faq {
      padding-top: 20px;
    }
    &.introduction {
      .lead {
        text-align: center;
        font-size: $base-font-size * 0.8;
      }
    }
    &.privacypolicy {
      h2 {
        margin-bottom: 55px;
      }
      h3 {
        padding: 5px;
        margin-bottom: 10px;
        font-size: $base-font-size;
        background-color: #888888;
        color: white;
      }
      h4 {
        margin-bottom: 10px;
        padding: 50px 0 10px 3px;
        font-size: $base-font-size;
        background: image-url('welcome/policy_line02.png') left bottom repeat-x;
      }
      p {
        line-height: 1.2em;
      }
    }
    &.utilization {
      h2 {
        padding: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: $base-font-size;
        line-height: $base-line-height !important;
        background-color: #888888;
        color: white;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: $base-font-size;
      }
      p {
        line-height: 1.2em;
      }
    }
    &.faq {
      h3 {
        padding: 5px;
        margin-bottom: 30px;
        font-size: $base-font-size;
        line-height: $base-line-height !important;
        background-color: #888888;
        color: white;
      }
      dl {
        dt {
          background: image-url("faq/q_li.png") left top 5px no-repeat;
          padding-left: 30px;
          margin-bottom: 15px;
          font-weight: normal;
        }
        dd {
          background: image-url("faq/a_li.png") left top 5px no-repeat;
          padding-left: 30px;
          margin-bottom: 40px;
          a {
            background: image-url("welcome/news_li.png") left 5px center no-repeat;
            padding-left: 15px;
          }
        }
      }
    }
    .magazines {
      @include clearfix;
      margin-bottom: 20px;
      li {
        @include span-columns(2.25 of 9);
      }
    }
    .otherproducts {
      li {
        @include span-columns(18 of 90);
      }
    }
  }

  .global-navigation {
    @include clearfix;
    margin-bottom: 30px;
    li {
      @include span-columns(1 of 4);
    }
  }

  @import "reviews";

  &.welcome {
    @import "welcome";
  }
  &.topics {
    @import "topics";
  }
  &.press_releases {
    @import "press_releases";
  }
  &.news_releases {
    @import "news_releases";
  }
  &.catalog {
    @import "catalog";
  }
  &.products {
    @import "products";
  }
  &.carts {
    @import "carts";
  }
  &.carts {
    @import "carts";
  }
  &.cashier {
    @import "cashier";
  }
  &.sessions,
  &.mypage,
  &.orders {
    @import "mypage";
  }
  &.contact {
    @import "contact";
  }
  &.devise_registrations {
    @import "devise/registrations";
  }
  .totop {
    margin: 0;
    text-align: right;
  }
}

// ----------------------------------------
// Footer
// ----------------------------------------
.footer {
  @include box-sizing(border-box);
  @include clearfix;
  padding: 5px 0;
  margin: 0;
  background: #656160;
  color: white;
  a {
    color: white;
  }
  .container {
    padding: 30px 0;
    .links-contact {
      @include clearfix;
      margin-bottom: 20px;
    }
    .links {
      @include span-columns(9 of 12);
      div {
        @include span-columns(2 of 7);
        h4 {
          background: image-url("footer/arrow.png") left center no-repeat;
          text-indent: 9px;
          font-size: $base-font-size * 0.8;
          margin-bottom: $base-line-height * 0.5;
        }
        ul {
          padding-left: 10px;
          font-size: $base-font-size * 0.8;
          line-height: $base-line-height * 1.3;
          li {
            a {
              display: block;
              background: image-url("footer/arrow.png") left center no-repeat;
              text-indent: 9px;
            }
          }
        }
      }
    }
    .contact {
      @include span-columns(3 of 12);
      a {
        background: image-url("footer/arrow.png") left 30px center no-repeat;
        text-indent: 9px;
        font-size: $base-font-size * 0.8;
        font-weight: bold;
        display: block;
        border: 1px solid white;
        padding: 15px 30px;
      }
    }
    .about,
    .copyright {
      clear: both;
      margin: 0;
      padding: 0;
      line-height: $base-line-height * 1.2;
      font-size: $base-font-size * 0.7;
      text-align: right;
    }
  }
}

.ui-tooltip {
  width: 300px;
  font-size: $base-font-size * 0.7;
  padding: 10px;
  border: 2px solid black;
}
