h1 {
  margin-bottom: 25px;
}

form {
}

.step {
  img {
    width: 100%;
  }
  margin-bottom: 50px;
}

.order-list {
  margin-bottom: 55px;
}

h2 {
  color: white;
  font-size: $base-font-size;
  background: #979797;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.sample_select {
  @include clearfix;
  background: white;
  padding: 10px 20px;
  p {
    font-size: $base-font-size * 0.9;
  }
  .items {
    .item {
      margin-bottom: 5px;
      @include span-columns(3 of 12);
      @include omega(4n);
      label {
        cursor: pointer;
        padding: 5px;
        overflow: hidden;
        @include fill-parent;
        font-size: $base-font-size * 0.6;
        .image {
          height: 100px;
          text-align: center;
        }
        .check {
          text-align: center;
        }
      }
    }
  }
  margin-bottom: 60px;
}

.action {
  text-align: center;
}
