h1 {
  margin-bottom: 25px;
}

form {
}

.step {
  img {
    width: 100%;
  }
  margin-bottom: 50px;
}

.order-list {
  margin-bottom: 55px;
}

h2 {
  color: white;
  font-size: $base-font-size;
  background: #979797;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.sample_select {
  @include clearfix;
  background: white;
  padding: 10px 20px;
  p {
    font-size: $base-font-size * 0.9;
  }
  .items {
    .item {
      margin-bottom: 5px;
      @include span-columns(3 of 12);
      @include omega(4n);
      label {
        cursor: pointer;
        padding: 5px;
        overflow: hidden;
        @include fill-parent;
        line-height: 1.2em;
        .image {
          height: 100px;
          text-align: center;
        }
        .name,
        .detail {
          padding: 0 1.0em;
        }
        .name {
          font-size: $base-font-size * 0.8;
          text-indent: -1.5em;
          margin-bottom: 8px;
        }
        .detail {
          font-weight: normal;
          font-size: $base-font-size * 0.75;
        }
      }
    }
  }
  margin-bottom: 60px;
}

.attention {
  color: red;
}

.note {
  margin-bottom: 40px;
  h2 {
    margin-bottom: 0;
  }
  .box {
    background: white;
    padding: 15px;
    textarea {
      width: 100%;
      margin: 0;
      height: 5.0em;
    }
  }
}

.action {
  text-align: center;
}

.complete {
  .h3 {
    background: none;
    font-size: $base-font-size * 3;
    margin-bottom: 20px;
  }
  .message {
    margin-bottom: 100px;
  }
}

