.catalog-header {
  background: $light-gray;
}

.main {
  ul.category-select {
    @include clearfix;
    margin-bottom: 15px;
    font-size: $base-font-size * 0.8;
    li {
      float: left;
      a {
        font-weight: bold;
        display: block;
        border: 3px solid #333333;
        background: white;
        color: #333333;
        padding: 5px 15px;
        line-height: 1.0;
        margin-right: 5px;

        &.active {
          border-color: #74726e;
          background: #74726e;
          color: #ffffff;
        }
      }
    }
  }
  .series-items {
    .item {
      @extend %item;
      padding-top: 60px;
      margin-bottom: 10px;
      height: 600px;
      &.template_1 {
        background: image-url('catalog/itembg_e.png') left top no-repeat;
        background-size: 100% auto;
      }
      &.template_2 {
        background: image-url('catalog/itembg_n.png') left top no-repeat;
        background-size: 100% auto;
      }
      &.template_3 {
        background: image-url('catalog/itembg_r.png') left top no-repeat;
        background-size: 100% auto;
      }
      &.template_4 {
        background: image-url('catalog/itembg_d.png') left top no-repeat;
        background-size: 100% auto;
      }
      &.template_5 {
        background: image-url('catalog/itembg_c.png') left top no-repeat;
        background-size: 100% auto;
      }
      &.template_6 {
        background: image-url('catalog/itembg_w.png') left top no-repeat;
        background-size: 100% auto;
      }
      .image {
        height: 40%;
      }
      .categories {
        @include clearfix;
        padding: 0 15px;
        margin-bottom: $base-line-height * 0.5;
        text-align: right;
        li {
          display: inline;
          border: 3px solid #333333;
          padding: 4px 10px;
          background: white;
          font-size: $base-font-size * 0.6;
          line-height: 1.0;
          font-weight: bold;
        }
      }
      .navigate {
        a {
          display: block;
          &.todetail {
            float: left;
          }
          &.addcart {
            float: right;
          }
        }
      }
    }
  }
}
