.catalog-header {
  background: $light-gray;
}

.main {
  ul.category-select {
    @include clearfix;
    margin-bottom: 15px;
    font-size: $base-font-size * 0.8;
    li {
      float: left;
      a {
        font-weight: bold;
        display: block;
        border: 3px solid #333333;
        background: white;
        color: #333333;
        padding: 5px 15px;
        line-height: 1.0;
        margin-right: 5px;

        &.active {
          border-color: #74726e;
          background: #74726e;
          color: #ffffff;
        }
      }
    }
  }
  .series-items {
    .item {
      &.naturaltech-item {
        @extend %item;
        @include span-columns(4 of 12);
        @include omega(3n);
        height: 600px;
        .image {
          height: 40%;
        }
      }
      &.authentic-item {
        @extend %item;
        @include span-columns(6 of 12);
        @include omega(2);
        height: 600px;
        .detail {
          height: $base-line-height * 2.0;
        }
        .image {
          height: 40%;
        }
      }
      &.moreinside-item {
        @extend %item;
        @include span-columns(4 of 12);
        @include omega(3n);
        height: 600px;
        .image {
          height: 40%;
        }
      }
      padding-top: 60px;
      margin-bottom: 10px;
      @each $n in e, n, r, d, c, w {
        &.naturaltech_#{$n} {
          background: image-url('catalog/itembg_#{$n}.png') left top no-repeat;
          background-size: 100% auto;
        }
      }
      @for $n from 1 through 4 {
        &.authentic_0#{$n} {
          background: image-url("catalog/at_itembg0#{$n}.png") left top no-repeat;
          background-size: 100% auto;
        }
      }
      @for $n from 1 through 7 {
        &.moreinside0#{$n} {
          background: image-url("catalog/itembg_0#{$n}.png") left top no-repeat;
          background-size: 100% auto;
        }
      }
      .kind {
        @include clearfix;
        padding: 0 15px;
        margin-bottom: $base-line-height * 0.5;
        text-align: right;
        li {
          display: inline;
          border: 3px solid #333333;
          padding: 4px 10px;
          background: white;
          font-size: $base-font-size * 0.6;
          line-height: 1.0;
          font-weight: bold;
        }
      }
      .navigate {
        a {
          display: block;
          &.todetail {
            float: left;
          }
          &.addcart {
            float: right;
          }
        }
      }
    }
  }
}
