.catalog-header {
  &.travelkit {
    background: image-url("catalog/header_kit.png") center top no-repeat;
    height: 490px;
  }
}

.main {
  .pose {
    text-align: center;
  }

  ul.category-select {
    @include clearfix;
    margin-bottom: 15px;
    font-size: $base-font-size * 0.8;
    li {
      float: left;
      a {
        font-weight: bold;
        display: block;
        border: 3px solid #333333;
        background: white;
        color: #333333;
        padding: 5px 15px;
        line-height: 1.0;
        margin-right: 5px;

        &.active {
          border-color: #74726e;
          background: #74726e;
          color: #ffffff;
        }
      }
    }
  }

  @each $n in e, n, r, d, c, w {
    .series-items {
      .item {
        &.naturaltech_#{$n} {
          background: image-url('catalog/naturaltech/itembg_#{$n}.png') left top no-repeat;
          background-size: 100% auto;
        }
      }
    }
    .category-items {
      .item {
        &.naturaltech_#{$n} {
          background: image-url('catalog/kit/kit_#{$n}_bg.png') left top no-repeat;
          background-size: 100% auto;
        }
      }
    }
  }
  @for $n from 1 through 4 {
    .series-items {
      .item {
        &.authentic_0#{$n} {
          background: image-url("catalog/authentic/at_itembg0#{$n}.png") left top no-repeat;
          background-size: 100% auto;
        }
      }
    }
  }
  @for $n from 1 through 7 {
    .series-items {
      .item {
        &.moreinside_0#{$n} {
          background: image-url("catalog/moreinside/itembg_0#{$n}.png") left top no-repeat;
          background-size: 100% auto;
        }
      }
    }
  }

  .series-items,
  .category-items {
    @include clearfix;
    .item {
      padding-top: 60px;
      margin-bottom: 10px;
      &.naturaltech-item,
      &.moreinside-item {
        @extend %item;
        @include span-columns(3 of 9);
        @include omega(3n);
        height: 600px;
        .image {
          height: 40%;
        }
      }
      &.authentic-item,
      &.kit-item {
        @extend %item;
        @include span-columns(4.5 of 9);
        @include omega(2);
        height: 600px;
        .name {
          line-height: $base-line-height;
          height: $base-line-height;
        }
        .detail {
          height: $base-line-height * 2.0;
        }
        .capacity {
          float: none;
        }
        .image {
          height: 45%;
        }
      }
      .fukidashi {
        padding: 0 15px;
      }
      .type {
        padding: 0 15px;
        margin-bottom: $base-line-height * 0.5;
        text-align: right;
        .kind {
          margin-left: 7px;
          border: 3px solid #333333;
          padding: 4px 10px;
          background: white;
          font-size: $base-font-size * 0.6;
          line-height: 1.0;
          font-weight: bold;
        }
        img {
          margin-left: 7px;
          vertical-align: middle;
        }
      }
      .navigate {
        a {
          display: block;
          &.todetail {
            float: left;
          }
          &.addcart {
            float: right;
          }
        }
      }
    }
  }
  .catalog-page {
    clear: both;
  }

  ul.natural6 {
    li {
      @include span-columns(6 of 12);
      @include omega(2n);
      margin-bottom: 20px;
    }
  }
}
