.center {
  text-align: center;
}

h1 {
  font-size: $base-font-size;
  margin-bottom: $base-line-height;
}

p.underline {
  border-bottom: 2px solid #000;
  margin-bottom: $base-line-height * 2;
}
.session {
  form {
    padding: 0 20%;
    margin-bottom: 100px;

    table {
      margin-bottom: 15px;
      td {
        input {
          width: 100%;
        }
      }
    }

    .reminder {
      margin-bottom: 15px;
      font-size: $base-font-size * 0.8;
      text-align: right;
    }
  }
}
.notuser {
  text-align: center;
  font-size: $base-font-size * 0.8;
}
.tokuten {
  margin-bottom: 20px;
}

.main {
  .navigation {
    margin-bottom: 20px;
    @include clearfix;
    li {
      @include span-columns(5 of 10);
    }
  }
}
