h1 {
  font-size: $base-font-size;
  margin-bottom: $base-line-height;
}

p.underline {
  border-bottom: 2px solid #000;
  margin-bottom: $base-line-height * 2;
}

form {
  padding: 0 20%;
  margin-bottom: 40px;

  table {
    th {
      padding: $base-line-height * 0.5;
    }
    td {
      padding: 0;
      input {
        height: 100%;
      }
    }
  }

  .reminder {
    text-align: right;
  }
}
.notuser {
  text-align: center;
}
.tokuten {
  margin-bottom: 20px;
}

.actions {
  input {
    display: inline;
  }
  text-align: center;
}

