.plusone {
  background: image-url('products/plus1_bg.png') left top no-repeat;
  height: 363px;
  margin-top: 15px;
  padding: 30px;
  .image {
    @include span-columns(3 of 10);
    background: image-url('products/plus1.png') right top no-repeat;
    line-height: 363px;
    text-align: center;
    img {
      vertical-align: middle;
    }
  }
  .information {
    @include span-columns(7 of 10);
    .name {
      font-weight: bold;
      font-size: $base-font-size * 1.1;
    }
    .label {
      float: left;
    }
    .data {
      text-align: right;
      margin-bottom: 15px;
      .price {
        color: #9a0000;
        font-weight: bold;
      }
    }
    .detail {
      font-size: $base-font-size * 0.8;
    }
  }
}

.recommendation {
  @include clearfix;
  padding: 0 20px;
  .item {
    @include span-columns(2.25 of 9);
    font-size: $base-font-size * 0.8;
    line-height: $base-line-height * 0.8;
    .image,
    .name {
      text-align: center;
      margin-bottom: 15px;
    }
    .data {
      margin-bottom: 15px;
      .price {
        color: #9a0000;
        font-weight: bold;
      }
    }
    .detail {
    }
  }
}

