// $visual-grid: true;

// Scss framework
@import "bourbon";
@import "bitters/bitters";
@import "neat";

html, body {
  margin: 0;
  padding: 0;
}
body {
  -webkit-text-size-adjust: 100%;
}

@import "item";

.hidden {
  display: none;
}
