dl {
  font-size: $base-font-size * 0.8;
  background: image-url("news_releases/news.png") left bottom no-repeat;
  dt {
    margin: 0;
    padding: 0;
    @include span-columns(1 of 6);
    @include omega(2n);
    font-weight: normal;
  }
  dd {
    margin: 0;
    padding: 0;
    @include span-columns(5 of 6);
    @include omega(2n);
    padding-bottom: 20px;
    a {
      text-decoration: underline;
    }
  }
}
