.main {
  h1, h2 {
    height: 65px;
    line-height: 65px;
    margin-bottom: $base-line-height * 0.5;
    img {
      vertical-align: bottom;
    }
  }
}

.banner {
  margin-bottom: 10px;
  .visual {
    background: image-url('welcome/header_bg_01.jpg') center center no-repeat;
    height: 356px;
  }
  .selector {
    .container {
      background: image-url('welcome/header_bg_shadow.png') top center no-repeat;
      height: 10px;
    }
  }
}

.lineup,
.topics,
.newitem,
.ranking,
.voice,
.information,
.news,
.products {
  @include clearfix;
  margin-bottom: $base-line-height;
}

%item {
  @include span-columns(4 of 12);
  height: 465px;
  .image {
    img {
      width: auto;
      height: 100%;
    }
    height: 50%;
    padding: 15px;
    text-align: center;
  }
  .name,
  .detail {
    padding: 0 15px;
    font-size: $base-font-size * 0.8;
  }
  .price {
    padding: 0 15px;
    font-weight: bold;
    color: #9a0000;
    .small {
      font-size: $base-font-size * 0.6;
    }
  }
  .cart {
    padding: ($base-line-height * 0.5) 0;
    img {
      width: 100%;
    }
  }
}

.newitem {
  .item {
    @extend %item;
    background: image-url('welcome/new_bg.png') left top no-repeat;
    background-size: 100% auto;
  }
}

.ranking {
  .item {
    @extend %item;
    padding-top: 12px;
    height: 477px;
    &.rank1 {
      background: image-url('welcome/rank01.png') left top no-repeat;
      background-size: 100% auto;
    }
    &.rank2 {
      background: image-url('welcome/rank02.png') left top no-repeat;
      background-size: 100% auto;
    }
    &.rank3 {
      background: image-url('welcome/rank03.png') left top no-repeat;
      background-size: 100% auto;
    }
  }
}

.information {
  .column {
    @include span-columns(4 of 12);
    @include omega(3);
    margin-bottom: $base-line-height;
  }
}

.products {
  .prev,
  .next {
    text-align: center;
    line-height: 100px;
    @include span-columns(1 of 22);
  }
  ul {
    @include span-columns(20 of 22);
    height: 100px;
    overflow: hidden;
    li {
      height: 100px;
      line-height: 100px;
      @include span-columns(2 of 12);
      @include omega(6n);
      text-align: center;
    }
  }
}
