
p = @product.name

p = @product.price

p = image_tag @product.image.url

p = link_to "Add Cart", add_carts_path(product_id: @product.id, amount: 1), method: :post

- if @product.page
  .editable class="page#{@product.page.id}"
    = page_body @product.page.body, @product.page.render_type
