<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_w/w_howto.gif" %></p>
      <p>シャンプー後、毛先までしっかり揉みこみます。傷みが気になる部分は、両手のひらでプレスして浸透させます。5分程度置き、丁寧に洗い流します。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "naturaltech_w/w_osusume.gif" %></p>
      <p>・ツヤのある美しい髪をキープしたい方<br>
        ・頭皮と髪の乾燥が気になる方</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<h2><%= storage_image_tag "naturaltech/point_line.png" %></h2>
<p><%= storage_image_tag "naturaltech_w/w_point.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_w/w_aroma.gif" %></p>
<p><%= storage_image_tag "naturaltech_w/w_aroma2.jpg" %></p>
<p class="mini"><%= storage_image_tag "naturaltech_w/w_flow.gif" %></p>
<p><%= storage_image_tag "naturaltech/flow_bar01.png" %></p>
<ul class="flow col4">
  <li><%= storage_image_tag "naturaltech/flow_w01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w03.png" %></li>
</ul>

<p><%= storage_image_tag "naturaltech/flow_bar02.png" %></p>
<ul class="flow col5">
  <li><%= storage_image_tag "naturaltech/flow_n01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n03.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n04.png" %></li>
</ul>

<p><%= storage_image_tag "naturaltech/flow_bar03.png" %></p>
<ul class="flow col4">
  <li><%= storage_image_tag "naturaltech/flow_e01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_e02.png" %></li>
</ul>

<p><%= storage_image_tag "naturaltech/flow_bar04.png" %></p>
<ul class="flow col4">
  <li><%= storage_image_tag "naturaltech/flow_c01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w03.png" %></li>
</ul>

<p><%= storage_image_tag "naturaltech/flow_bar05.png" %></p>
<ul class="flow col4">
  <li><%= storage_image_tag "naturaltech/flow_w01.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_w02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_or.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_n02.png" %></li>
  <li class="icon"><%= storage_image_tag "naturaltech/flow_arrow.png" %></li>
  <li><%= storage_image_tag "naturaltech/flow_e02.png" %></li>
</ul>
