<div class="howto-osusume">
  <div class="howto">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "moreinside/mi_howto.gif" %></p>
      <p>乾いた髪に適量を塗布し、お好みに合わせてスタイリングします。</p>
    </div>
    <div class="shita"></div>
  </div>

  <div class="osusume">
    <div class="ue"></div>
    <div class="naka">
      <p class="mini"><%= storage_image_tag "moreinside/mi_osusume.gif" %></p>
      <p>乾いた髪にたっぷりなじませ、アイロン等のホットツールを使用すると、カールがきれいに作れます。</p>
    </div>
    <div class="shita"></div>
  </div>
</div>
<div class="h2o-02">
  <h3 class="mini"><%= storage_image_tag "moreinside/mi_use.gif" %></h3>
  <p>大人のヘアアレンジヘアに<p>
<h3 class="mini"><%= storage_image_tag "moreinside/mi_recommendto.gif" %></h3>
<p>すべての髪質</p>
</div>
<h2><%= storage_image_tag "moreinside/mi_osusume_style.png" %></h2>
<p><%= storage_image_tag "moreinside_03/osusume_style_03.png" %></p>
